@layer base {
  @font-face {
    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/RobotoFlex/RobotoFlex-Regular.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Manrope";
    font-style: light;
    font-weight: 300;
    font-display: swap;
    src: url("./assets/fonts/Manrope/Manrope-Light.ttf") format("truetype");
  }

  @font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/Manrope/Manrope-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Manrope";
    font-style: medium;
    font-weight: 500;
    font-display: swap;
    src: url("./assets/fonts/Manrope/Manrope-Medium.ttf") format("truetype");
  }
}
